{% extends "main/base.html" %} {% block title %}Blog{% endblock %} {% block
content %}
<!-- Title & subtitle -->
<h2 class="title is-light is-semibold has-text-centered is-spaced">Blog</h2>
<h4 class="subtitle is-6 is-light has-text-centered is-compact">
  Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore
  detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua,
  eruditi volumus quaestio ex mel, has ei tota homero.
</h4>

<!-- Content wrapper -->
<div class="content-wrapper is-large">
  <div class="columns">
    <!-- Media section -->
    <div class="column is-10 is-offset-1">
      {% for entry in data %}
      <!-- Post -->
      <div class="blog-post">
        <a href="blog/post/{{ entry.id|e }}">
          <!-- Featured image -->
          <div class="featured-image">
            <img src="{{ url_for('static', filename=entry.image) }}" alt="" />
          </div>
          <!-- Content -->
          <div class="content">
            <div class="post-title">
              {{ entry.title|e }}
              <span class="blog-date">{{ entry.date|e }}</span>
            </div>
            <p>{{ entry.post|e }}</p>
            <!-- Meta -->
            <div class="post-meta">
              <div class="author-block">
                <div class="image is-32x32">
                  <img src="{{ url_for('static', filename=entry.author["image"])
                  }}" alt="">
                </div>
                <div class="author-name">by {{ entry.author['name']|e }}</div>
              </div>
              <!--
                          <div class="stats-block">
                            <div class="comments">
                                <i data-feather="message-circle"></i>
                                <span>3</span>
                            </div>
                            <div class="likes">
                                <i data-feather="heart"></i>
                                <span>9</span>
                            </div>                         
                        </div>
                         -->
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- /Media section -->
  </div>

  <!-- CTA -->
  <div class="cta-wrapper has-text-centered">
    <a
      href="#"
      class="button k-button k-primary raised has-gradient is-fat is-bold"
    >
      <span class="text">More Articles</span>
      <span class="front-gradient"></span>
    </a>
  </div>
</div>
<!-- /Content wrapper -->
{% endblock %} {% block content_bottom %} {% endblock %}
