{% extends "main/base.html" %} 
{% block title %}Explorer{% endblock %} 
{% block content %}
<form class="login-form">
  <!-- Field -->
  <div class="control-material is-primary">
    <input class="material-input" type="email" required />
    <span class="material-highlight"></span>
    <span class="bar"></span>
    <label>Search Transaction</label>
  </div>
  <!-- Field -->
  <div class="control-material is-primary">
    <input class="material-input" type="password" required />
    <span class="material-highlight"></span>
    <span class="bar"></span>
    <label>Password</label>
  </div>

  <!-- Submit -->
  <div>
    <button
      class="button is-button k-button k-primary raised has-gradient is-bold is-fullwidth"
    >
      <span class="text">Login</span>
      <span class="front-gradient"></span>
    </button>
  </div>
</form>
{% endblock %}
{% block content_bottom %}
{% endblock %}
  