{% extends "main/base.html" %} {% block title %}Index{% endblock %} {% block
content %}
<div class="columns is-vcentered">
  <!-- Landing page Title -->
  <div class="column is-5 landing-caption">
    <h1 class="title is-1 is-light is-semibold is-spaced main-title">
      Cryptocurrency Exchange Market
    </h1>
    <h2 class="subtitle is-5 is-light is-thin">
      Cryptocurrency brought to the next level. Join our ICO for supercharged
      rates.
    </h2>
    <!-- CTA -->
    <p class="buttons">
      <a
        href="/coins/chaincoin"
        class="button k-button k-primary raised has-gradient is-fat is-bold"
      >
        <span class="text">Chaincoin</span>
        <span class="front-gradient"></span>
      </a>
      <a
        href="/coins/e-credits"
        class="button k-button k-primary raised has-gradient is-fat is-bold"
      >
        <span class="text">E-Credits</span>
        <span class="front-gradient"></span>
      </a>
    </p>
  </div>
  <!-- Hero image -->
  <div class="column is-7">
    <figure class="image">
      <img
        src="{{ url_for('static', filename='img/illustrations/buildings.svg') }}"
        alt=""
      />
    </figure>
  </div>
</div>
{% endblock %} {% block content_bottom %}
<!-- Hero footer -->
<div class="hero-foot">
  <div class="container">
    <div class="tabs is-centered">
      <!-- Client / partner list -->
      <ul>
        <li>
          <a
            ><img
              class="hero-logo"
              src="{{ url_for('static', filename='img/clients/cryptomarket.svg') }}"
              alt=""
          /></a>
        </li>
        <li>
          <a
            ><img
              class="hero-logo"
              src="{{ url_for('static', filename='img/clients/bitit.svg') }}"
              alt=""
          /></a>
        </li>
        <li>
          <a
            ><img
              class="hero-logo"
              src="{{ url_for('static', filename='img/clients/coin.svg') }}"
              alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block second_section %} {% include '/parts/faq.html' %}
{%endblock %}
