{% extends "main/base.html" %} {% block title %}Token{% endblock %} {% block
content %} {% if wallet %}
<h1 class="title is-light is-semibold has-text-centered is-spaced">
  Voilá, your Wallet
</h1>
<h2 class="subtitle is-6 is-light has-text-centered is-spaced">
  Your Wallet is ready to use.
</h2>
<div class="token-wrapper">
  <dl class="token-documentation wallet has-text-centered">
    <dt class="margin-sm subtitle is-4 is-light is-thin">ID</dt>
    <dd class="margin-sm subtitle is-5 is-light">{{ wallet.id }}</dd>
    <dt class="margin-sm subtitle is-4 is-light is-thin">
      Secrect-Key <br /><span class="subtitle is-6 is-light is-thin"
        >Please never give out this key and save it in a safe place!</span
      >
    </dt>
    <dd class="margin-sm subtitle is-5 is-light">{{ wallet.key }}</dd>
    <!-- <dt class="margin-sm subtitle is-6 is-light is-thin">Balance</dt>
  <dd class="margin-sm subtitle is-5 is-light is-thin">{{ wallet.value }}</dd> -->
  </dl>
</div>
<div class="cta-wrapper has-text-centered">
  <a
    href="/wallet"
    class="button k-button k-primary raised has-gradient is-fat is-bold"
  >
    <span class="text">Show my Wallet</span>
    <span class="front-gradient"></span>
  </a>
</div>
{% endif %} {% endblock %}
