{% extends "main/base.html" %} {% block title %}Token{% endblock %} {% block
content %}
  <div class="columns has-text-centered">
    <div class="column is-6 is-offset-3">
      <div class="roadmap-image">
        <img
          src="{{ url_for('static', filename='img/illustrations/world.svg') }}"
        />
      </div>
      <h1 class="title is-2 is-light is-semibold is-spaced main-title">
        2022 Roadmap
      </h1>
      <h2 class="subtitle is-5 is-light is-thin">
        Cryptocurrency brought to the next level. Join our ICO for supercharged
        rates.
      </h2>
      <!-- CTA -->
      <p>
        <a
          href="#roadmap"
          class="button k-button k-primary raised has-gradient is-fat is-bold"
        >
          <span class="text">More details</span>
          <span class="front-gradient"></span>
        </a>
      </p>
    </div>
  </div>
  {% endblock %} 
  {% block
    second_section %}
  
  <section
    x-data="initRoadmap()"
    x-init="setupRoadmap()"
    id="roadmap"
    class="main-timeline"
  >
    <ul>
      {% for entry in data %}
        <li>
          <div>
            <span class="item-title">{{ entry.title|e }}</span>
            <time>{{ entry.date|e }}</time>
            <span class="item-content">
              {{ entry.description|e }}
            </span>
            {% if entry.link %}
            <span class="more">
              <i data-feather="file-text"></i>
              <a href="{{ entry.link['url']|e }}">{{ entry.link['title']|e }}</a>
            </span>
            {% endif %}
          </div> 
        </li>
      {% endfor %}    
    </ul>
  </section>

  <section>
    <div class="roadmap-end">
      <img
        src="{{ url_for('static', filename='img/illustrations/roadmap-end.svg') }}"
        alt=""
      />
    </div>
  </section>
</div>
{% endblock %} {% block content_bottom %} {% endblock %}
