{% extends "main/base.html" %}
{% block title %}Token{% endblock %}
{% block content %}
<div class="columns has-text-centered">
  <div class="column is-6 is-offset-3">
      <div class="token-image">
          <img src="{{ url_for('static', filename='img/illustrations/krypton-token.svg') }}">
      </div>
      <h1 class="title is-2 is-light is-semibold is-spaced main-title">Chaincoin Token</h1>
      <h2 class="subtitle is-5 is-light is-thin">
          Cryptocurrency brought to the next level. Join our ICO for supercharged rates.
      </h2>
      <!-- CTA -->
      <p>
          <a href="start" class="button k-button k-primary raised has-gradient is-fat is-bold">
              <span class="text">More details</span>
              <span class="front-gradient"></span>
          </a>
      </p>
  </div>
</div> 
{% endblock %}
