{% extends "main/base.html" %} {% block title %}Token{% endblock %} {% block
content %}

<!-- Flying tabs wrapper -->
<div x-data="initTabs()" class="flying-wrapper">
  <!-- Tabs container -->
  <div class="flying-tabs-container">
    <!-- Tabs -->
    <div class="flying-tabs">
      <div @click="switchTabs($event)" class="flying-child tab-1" data-tab="tab-1" :class="{
              'is-active': activeTab === 'tab-1',
              '': activeTab != 'tab-1'
          }">
        <a href="javascript:void(0);">Login</a>
      </div>
      <div @click="switchTabs($event)" class="flying-child tab-2" data-tab="tab-2" :class="{
              'is-active': activeTab === 'tab-2',
              '': activeTab != 'tab-2'
          }">
        <a href="javascript:void(0);">Create new wallet</a>
      </div>
      <div @click="switchTabs($event)" class="flying-child tab-3" data-tab="tab-3" :class="{
              'is-active': activeTab === 'tab-3',
              '': activeTab != 'tab-3'
          }">
        <a href="javascript:void(0);">Transaction</a>
      </div>
      <div @click="switchTabs($event)" class="flying-child tab-4" data-tab="tab-4" :class="{
            'is-active': activeTab === 'tab-4',
            '': activeTab != 'tab-4'
        }">
        <a href="javascript:void(0);">ICO</a>
      </div>
      <div class="slider"></div>
    </div>
  </div>

  <!-- Tabs content wrapper -->
  <div class="flying-tabs-content">
    <!-- Tab 1 WALLET -->
    <div class="tab-content" :class="{
    'is-active': activeTab === 'tab-1',
    '': activeTab != 'tab-1'
}">
      <div class="columns is-vcentered tab-content-wrapper">
        <div class="column is-7 is-offset-2">
          <form class="login-form">
            <!-- Field -->
            <div class="control-material is-primary">
              <input class="material-input" type="wallet_id" required />
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <label>Wallet-ID</label>
            </div>
            <!-- Field -->
            <div class="control-material is-primary">
              <input class="material-input" type="private_key" required />
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <label>Private Key</label>
            </div>
            <!-- Submit -->
            <div>
              <button class="button is-button k-button k-primary raised has-gradient is-bold">
                <span class="text">Login</span>
                <span class="front-gradient"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Tab 2 CREATE NEW WALLET -->
    <div class="tab-content" :class="{
   'is-active': activeTab === 'tab-2',
   '': activeTab != 'tab-2'
}">
      <div class="columns is-centered tab-content-wrapper">
        <form method="post" name="createWallet" action="/new_wallet">
        <div class="feature">
          <img src="{{ url_for('static', filename='img/illustrations/krypton-app.svg') }}" alt="" data-aos="fade-up"
            data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
          <h4 class="title is-6 is-tight is-light">Manage your Chaincoins</h4>
          <p>It´s completley free and simpel.</p>
          <div class="cta-wrapper has-text-centered">
            <button href="#" class="button k-button k-primary raised has-gradient is-bold" id="createWallet">
              <span class="text">Create</span>
              <span class="front-gradient"></span>
            </button>
          </div>
        </div>
        </form>
        {% if wallet %}
        <h1>YUHUHU</h1>
        {% endif %}
      </div>


    </div>
  </div>

  <!-- Tab 3  TRANSACTION -->
  <div class="tab-content" :class="{
   'is-active': activeTab === 'tab-3',
   '': activeTab != 'tab-3'
}">
    <div class="columns is-centered tab-content-wrapper">

      TRANSACTION

    </div>
  </div>

  <!-- Content Wrapper-->
</div>

{% endblock %}
</div>