{% extends "main/base.html" %} {% block title %}Token{% endblock %} {% block
content %}

<!-- Content wrapper -->
<div class="content-wrapper is-medium">
  <h1 class="title is-light is-semibold has-text-centered is-compact">
    Wallet
  </h1>
  <div class="columns is-vcentered">
    <div class="column is-hidden-mobile"></div>

    <!-- Team member -->
    <div class="column is-12">
      <div class="team-member-container">
        <!-- Card -->
        <div class="dark-card">
          <!-- Member meta -->
          <div class="member-info">
            <h4 class="title is-light is-6 wallet-value">
              {{session['wallet']['value']}}
              <img
                class="rotating icon-small"
                src="/static/img/logo/krypton.svg"
                alt=""
              />
            </h4>
            <div class="position">
              Balance - current value of the wallet in cc (Chaincoin)
            </div>
            <p class="description">{{session['wallet']['id']}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-hidden-mobile"></div>
  </div>
</div>

<div class="divider is-centered"></div>
<h2 class="title is-light is-semibold has-text-centered is-spaced">
  Send Money
</h2>

<div class="column is-12">
  <!-- Card -->
  <div class="dark-card">
    {% if valid_transaction_request == False %}
    <!-- Error Message -->
    <p class="subtitle is-6 is-light has-text-centered is-compact">
      {% if error %}{{ error }}{% endif %}
    </p>
    {% if response %}{{ response }}{% endif %}
    <!-- Member meta -->
    <div class="transaction-form">
      <form method="post">
        <div class="control-material is-secondary">
          <input
            class="material-input"
            type="text"
            min="0"
            max="{{session['wallet']['value']}}"
            step="2"
            required=""
            name="amount"
          />
          <span class="material-highlight"></span>
          <span class="bar"></span>
          <label>Amount</label>
        </div>
        <div class="control-material is-secondary">
          <input
            class="material-input"
            type="text"
            required=""
            name="receiver_wallet"
          />
          <span class="material-highlight"></span>
          <span class="bar"></span>
          <label>Receiver Wallet-ID</label>
        </div>
        <div class="control-material is-secondary">
          <input
            class="material-input"
            type="text"
            required=""
            name="private_key"
          />
          <span class="material-highlight"></span>
          <span class="bar"></span>
          <label>Private Key</label>
        </div>
        <div class="contact-icons">
          <button
            class="contact-icon"
            data-aos="fade-up"
            data-aos-delay="500"
            data-aos-offset="200"
            data-aos-easing="ease-out-quart"
          >
            <img
              class="is-telegram"
              src="{{ url_for('static', filename='img/logo/telegram.svg') }}"
              alt=""
            />
          </button>
        </div>
      </form>
    </div>
    {% endif %} {% if valid_transaction_request %}
    <p class="subtitle is-6 is-light has-text-centered is-compact">
      Transaction was successfully added to the mempool
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
