<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}    
      {% include '/main/header.html' %}
    {% endblock %}
  </head>
  <body>    
    <div id="pageloader" class="pageloader is-left-to-right is-theme"></div>
    <div id="infraloader" class="infraloader is-active"></div>    
    <div class="{{ wrapper }}">     
      <section class="hero is-fullheight is-transparent">
        <div class="hero-head">
          {% include '/main/navigation.html' %}
          {% if showParticles %}
            <div x-data="initHero()" x-init="initParticles()" id="particles-js"></div>
          {% endif %}
        </div>
        <div class="hero-body">
          <div class="container">
            {% block content %}{% endblock %}
          </div>
        </div>
        {% block content_bottom %}{% endblock %}      
    </section>  
    {% block second_section %}{% endblock %}     
    {% include '/main/footer.html' %}  
    <script
      src="{{ url_for('static', filename='js/particles.min.js') }}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{ url_for('static', filename='js/bundle.js') }}"
      crossorigin="anonymous"
    ></script>
    <script
  src="{{ url_for('static', filename='js/app.js') }}"
  defer
  type="module"
></script>
  </body>
</html>
