<link
  rel="icon"
  type="image/png"
  href="{{ url_for('static', filename='img/favicon.png') }}"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/main.css') }}"
/>

<title>{% block title %}{% endblock %}</title>
