<div class="hero-head">
  <!-- Cloned navbar -->
  <!-- Cloned navbar that comes in on scroll -->
  <nav
    x-data="initNavbar()"
    x-on:scroll.window="scroll()"
    id="navbar-clone"
    class="navbar is-fixed is-dark"
    :class="{
          'is-active': scrolled,
          '': !scrolled
      }"
  >
    <div class="container">
      <!-- Brand -->
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img
            class="rotating"
            src="{{ url_for('static', filename='img/logo/krypton.svg') }}"
            alt=""
          />
          <span class="brand-name">chaincoin</span>
        </a>
        <!-- Responsive toggle -->
        <div class="navbar-burger" @click="openMobileMenu()">
          <div class="menu-toggle">
            <span
              class="icon-box-toggle"
              :class="{
                              'active': mobileOpen,
                              '': !mobileOpen
                          }"
            >
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <!-- Menu -->
      <div
        id="cloneNavbarMenu"
        class="navbar-menu"
        :class="{
                  'is-active': mobileOpen,
                  '': !mobileOpen
              }"
      >
        <div class="navbar-end">
          {% for link in navigation %}
          <div class="navbar-item is-nav-link">
            <a class="is-centered-responsive" href="{{ link.route|e }}"
              >{{ link.name|e }}</a
            >
          </div>
          {% endfor %} {% if session['logged-in'] %}
          <div class="navbar-item is-nav-link">
            <a
              href="/wallet"
              class="button k-button k-primary raised has-gradient slanted"
            >
              <span class="text">Wallet</span>
              <span class="front-gradient"></span>
            </a>
          </div>

          {% else %}
          <!-- Sign up -->
          <div class="navbar-item is-nav-link">
            <a
              href="/login"
              class="button k-button k-primary raised has-gradient slanted"
            >
              <span class="text">Login</span>
              <span class="front-gradient"></span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- /Cloned navbar -->
  <!-- Static navbar -->
  <!-- Static navbar -->
  <nav
    x-data="initNavbar()"
    class="navbar is-light"
    :class="{
          'is-dark-mobile': mobileOpen,
          '': !mobileOpen
      }"
  >
    <div class="container">
      <!-- Brand -->
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img
            class="rotating"
            src="{{ url_for('static', filename='img/logo/krypton.svg') }}"
            alt=""
          />
          <span class="brand-name">Chaincoin</span>
        </a>
        <!-- Responsive toggle -->
        <div class="navbar-burger" @click="openMobileMenu()">
          <div class="menu-toggle">
            <span
              class="icon-box-toggle"
              :class="{
                              'active': mobileOpen,
                              '': !mobileOpen
                          }"
            >
              <span class="rotate">
                <i class="icon-line-top"></i>
                <i class="icon-line-center"></i>
                <i class="icon-line-bottom"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <!-- Menu -->
      <div
        id="navbarMenu"
        class="navbar-menu light-menu"
        :class="{
                  'is-active': mobileOpen,
                  '': !mobileOpen
              }"
      >
        <div class="navbar-end">
          {% for link in navigation %}
          <div class="navbar-item is-nav-link">
            <a class="is-centered-responsive" href="{{ link.route|e }}"
              >{{ link.name|e }}</a
            >
          </div>
          {% endfor %} {% if session['logged-in'] %}
          <div class="navbar-item is-nav-link">
            <a
              href="/wallet"
              class="button k-button k-primary raised has-gradient slanted"
            >
              <span class="text">Wallet</span>
              <span class="front-gradient"></span>
            </a>
          </div>

          {% else %}
          <!-- Sign up -->
          <div class="navbar-item is-nav-link">
            <a
              href="/login"
              class="button k-button k-primary raised has-gradient slanted"
            >
              <span class="text">Login</span>
              <span class="front-gradient"></span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- /Static navbar -->
</div>
