@import "app.css";
@import "template.css";

.contentArea {
  background: #0f0330;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.icon-small {
  max-height: 30px !important;
  position: relative;
  top: 5px;
}

.is-centered {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.wallet-value {
  padding-top: 20px;
  font-size: 20pt !important;
}

.transaction-form {
  padding: 0 10px;
}

.contact-icons .contact-icon {
  border: none !important;
}
