<!-- Company section -->
<section class="section is-medium">
  <!-- Container -->
  <div class="container">
    <!-- Spaced divider -->
    <div class="divider is-centered is-spacer"></div>
    <!-- Title & subtitle -->
    <h2 class="title is-light is-semibold has-text-centered is-spaced">FAQ</h2>
    <h4 class="subtitle is-6 is-light has-text-centered is-compact">
      Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore
      detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax
      perpetua, eruditi volumus quaestio ex mel, has ei tota homero.
    </h4>

    <!-- Content wrapper -->
    <div class="content-wrapper is-large">
      <div class="columns">
        <div class="column is-5 is-offset-1">
          <!-- Accordion -->
          <div class="accordion">
            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle1" class="accordion-toggle" />
              <label class="accordion-title" for="toggle1">
                What is Blockchain ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle2" class="accordion-toggle" />
              <label class="accordion-title" for="toggle2">
                What is ICO ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle3" class="accordion-toggle" />
              <label class="accordion-title" for="toggle3">
                Where to get the Whitepaper ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle4" class="accordion-toggle" />
              <label class="accordion-title" for="toggle4">
                What is Krypton Core Innovation ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle5" class="accordion-toggle" />
              <label class="accordion-title" for="toggle5">
                When will be the platform released ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <!-- /Accordion -->
        </div>

        <div class="column is-5">
          <!-- Accordion -->
          <div class="accordion">
            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle6" class="accordion-toggle" />
              <label class="accordion-title" for="toggle6">
                How much tokens will be sold ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle7" class="accordion-toggle" />
              <label class="accordion-title" for="toggle7">
                What happens if Soft Cap isn't reached ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle8" class="accordion-toggle" />
              <label class="accordion-title" for="toggle8">
                How much do you want to raise with the ICO ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle9" class="accordion-toggle" />
              <label class="accordion-title" for="toggle9">
                When will the tokens be distributed ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>

            <!-- Option -->
            <div class="accordion-option">
              <input type="checkbox" id="toggle10" class="accordion-toggle" />
              <label class="accordion-title" for="toggle10">
                Will their be Bounties ?
              </label>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
          <!-- /Accordion -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Content wrapper -->
